.title{
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    margin:10px;
}

label{
    color:rgb(82, 82, 82);
    font-weight: bold;
    /* font-size: medium; */
}

.subtitle{
    text-align: center;
    color:rgb(82, 82, 82);
    /* font-weight: bold; */
    font-size: large;
}

th{
    color:rgb(82, 82, 82);
    font-weight: bold;
    /* font-size: medium; */
}

.subtext{
    /* text-align: center; */
    color:rgb(82, 82, 82);
    /* font-weight: bold; */
    font-size: small;
}
